body {
    background-color: #cbdeef;
    font-family: monospace;
  }
  p {
    color:rgb(235, 82, 82);
    font-weight: bold;
    line-height: 20px;
    font-size: large;
  }
  a {
    color: #5e68b7;
    text-decoration: none;
    line-height: 80px;
  }
  
  a:hover {
    text-decoration: underline;
  }
.container {
    display: flex;
    justify-content: space-between;
    
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top:50px;
    background-color: #eeecf1;
  }
  
  .controls {
    width:500px; /* Adjust the width as needed */
  }
  
  .grid {
    display: grid;
    width: 700px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 3px 15px;
  }
  
  .square {
    user-select: none;
    background-color: rgb(255, 255, 255);
  }
  

  .btcontrols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button,
  input[type="color"] {
    width: 250px;
    height: 60px;
    padding: 12px;
    margin: 8px;
    border: none;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    
    border-radius: 30px/50px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
  
  button:hover,
  input[type="color"]:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    transform: scale(1.05);
  }
  
  input[type="color"] {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .size-value {
    font-size: 20px;
  }
  
  
/* Media query for mobile devices */
@media (max-width: 767px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    body {
        background-color: bisque;
      }
    
    .grid {
      width: 300px;
      height: 300px;
    }
    
    .btcontrols {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    
    button,
    input[type="color"] {
      width: 180px;
      height: 40px;
      padding: 8px;
      margin: 5px;
      font-size: 16px;
      border-radius: 20px;
    }
    
    input[type="color"] {
      width: 40px;
      height: 40px;
    }
    
    .size-value {
      font-size: 16px;
    }
  }
  